<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="The Web's reference for shortcuts" />
	<meta name="keywords" content="shortcut,shortcuts,mac shortcut,mac shortcuts, windows shortcut, windows shortcuts" />
	<meta name="author" content="Lilian Jallageas" />
	<title>Shortcut List</title>
	<link rel="stylesheet" href="css/foundation.css" />
	<script src="js/vendor/modernizr.js"></script>
	<link rel="icon" type="image/png" href="img/favicon/logo_32x32.png">
</head>

<body>


	<!-- NAV BAR
	**************************************** -->
	<div class="contain-to-grid">
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Shortcut List</a></h1>
				</li>
			</ul>
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li class="has-dropdown">
						<a href="#">Mac</a>
						<ul class="dropdown">
							<li><a href="#mac_essentials">Essentials</a></li>
							<li><a href="#mac_screenshots">Screenshots</a></li>
							<li><a href="#mac_chrome">Chrome on Mac</a></li>
							<li><a href="#mac_spectacle">Spectacle for Mac</a></li>
						</ul>
					</li>
					<li class="has-dropdown">
						<a href="#">Windows</a>
						<ul class="dropdown">
							<li><a href="#win_essentials">Essentials</a></li>
							<li><a href="#win_chrome">Chrome on Windows</a></li>
						</ul>
					</li>
				</ul>
			</section>
		</nav>
	</div>

	<!-- WELCOME SECTION
	**************************************** -->			
	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h3>Welcome to ShortcutList.NET, the world's <u>shortcuts</u> reference</h3>
				<p><b>SEARCH</b> and <b>LEARN</b> the best shortcuts and improve your productivity.</p>
				</div>
			</div>
		</div>
	</div>


	<!-- CONTENT OF THE APP
	**************************************** -->	
	<div ng-app="app" ng-controller="shortcutsController">
	
		<!-- SHORTCUTS: MAC
		**************************************** -->	
		<div class="row">
			<div class="large-12 medium-12 columns">

				<h3>Mac Shortcuts</h3>			
				<hr/><!-- divider line -->

				<a name="mac_essentials"></a>
				<h4>Essentials:</h4>
				<table width="100%">
					<thead>
						<tr>
							<th width="20%">Shortcut command</th>
							<th width="80%">
								<div class="row">
									<div class="small-8 columns">Actions</div>
									<div class="small-4 columns"><input ng-model="search_mac_essentials.action" placeholder="Search an action..."></div>
								</div>									
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in shortcuts | filter:{os:'mac'} | filter:{use:'general'} | filter:search_mac_essentials:strict">
							<td ng-bind-html="x.cmd | unsafe "></td>
							<td>{{ x.action | unsafe }}</td>
						</tr>
					</tbody>
				</table>

				<a name="mac_screenshots"></a>
				<h4>Screenshots:</h4>
				<table width="100%">
					<thead>
						<tr>
							<th width="20%">Shortcut command</th>
							<th width="80%">
								<div class="row">
									<div class="small-8 columns">Actions</div>
									<div class="small-4 columns"><input ng-model="search_mac_screenshots.action" placeholder="Search an action..."></div>
								</div>									
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in shortcuts | filter:{os:'mac'} | filter:{use:'screenshot'} | filter:search_mac_screenshots:strict">
							<td ng-bind-html="x.cmd | unsafe "></td>
							<td>{{ x.action }}</td>
						</tr>
					</tbody>
				</table>


				<a name="mac_chrome"></a>
				<h4>Chrome on Mac:</h4>
				<table width="100%">
					<thead>
						<tr>
							<th width="20%">Shortcut command</th>
							<th width="80%">
								<div class="row">
									<div class="small-8 columns">Actions</div>
									<div class="small-4 columns"><input ng-model="search_mac_chrome.action" placeholder="Search an action..."></div>
								</div>									
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in shortcuts | filter:{os:'mac'} | filter:{use:'chrome'} | filter:search_mac_chrome:strict">
							<td ng-bind-html="x.cmd | unsafe "></td>
							<td>{{ x.action }}</td>
						</tr>
					</tbody>
				</table>

				<a name="mac_spectacle"></a>
				<h4>Spectacle for Mac:</h4>
				<p><a href="http://spectacleapp.com/" target="_blank">Spectacle</a> is an amazing tool that enhances your Mac shortcuts
				<table width="100%">
					<thead>
						<tr>
							<th width="20%">Shortcut command</th>
							<th width="80%">
								<div class="row">
									<div class="small-8 columns">Actions</div>
									<div class="small-4 columns"><input ng-model="search_mac_spectacle.action" placeholder="Search an action..."></div>
								</div>									
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in shortcuts | filter:{os:'mac'} | filter:{use:'spectacle'} | filter:search_mac_spectacle:strict">
							<td ng-bind-html="x.cmd | unsafe "></td>
							<td>{{ x.action }}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>


		<hr/><!-- divider line -->
		<div class="row">
		
			<!-- *************** GOOGLE ADS *************** -->
			<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- ShortcutList.net -->
			<ins class="adsbygoogle"
			 style="display:inline-block;width:728px;height:90px"
			 data-ad-client="ca-pub-9176408117099426"
			 data-ad-slot="3565596275"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		
		</div>
		<hr/><!-- divider line -->


		<!-- SHORTCUTS: WINDOWS
		**************************************** -->
		<div class="row">
			<div class="large-12 medium-12 columns">

				<h3>Windows Shortcuts</h3>			
				<hr/><!-- divider line -->

				<a name="win_essentials"></a>
				<h4>Essentials:</h4>
				<table width="100%">
					<thead>
						<tr>
							<th width="20%">Shortcut command</th>
							<th width="80%">
								<div class="row">
									<div class="small-8 columns">Actions</div>
									<div class="small-4 columns"><input ng-model="search_win_essentials.action" placeholder="Search an action..."></div>
								</div>									
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in shortcuts | filter:{os:'win'} | filter:{use:'general'} | filter:search_win_essentials:strict">
							<td ng-bind-html="x.cmd | unsafe "></td>
							<td>{{ x.action }}</td>
						</tr>
					</tbody>
				</table>

				<a name="win_chrome"></a>
				<h4>Chrome on Windows:</h4>
				<table width="100%">
					<thead>
						<tr>
							<th width="20%">Shortcut command</th>
							<th width="80%">
								<div class="row">
									<div class="small-8 columns">Actions</div>
									<div class="small-4 columns"><input ng-model="search_win_chrome.action" placeholder="Search an action..."></div>
								</div>									
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in shortcuts | filter:{os:'win'} | filter:{use:'chrome'} | filter:search_win_chrome:strict">
							<td ng-bind-html="x.cmd | unsafe "></td>
							<td>{{ x.action }}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

	</div>

	<!-- JAVASCRIPT SCRIPTS
	**************************************** -->		
	<script src="js/vendor/jquery.js"></script>
	<script src="js/foundation.min.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script>
		$(document).foundation();
	</script>

	<script>

		// Unicode values:
		// ⌘ => &#8984;
		// ⌥ => &#8997;
		// ⇧ => &#8679;
		// ⇥ => &#8677;
		// left arrow  => &#8592;
		// up arrow    => &#8593;
		// right arrow => &#8594;
		// down arrow  => &#8595;

		var app = angular.module('app', []);
		
		app.controller('shortcutsController', function($scope,$http) {
  			$scope.shortcuts = [
				{os:"mac",use:"general",    cmd:"&#8984;-C, &#8984;-X, &#8984;-V",  action:"Copy/Cut/Paste the selected element"},
				{os:"mac",use:"general",    cmd:'&#8984;-A',                        action:"Select all the elements in the window"},
				{os:"mac",use:"general",    cmd:"&#8984;-S",                        action:"Saves the active document"},
				{os:"mac",use:"general",    cmd:"&#8984;-Z",                        action:"Undo the previous action"},
				{os:"mac",use:"general",    cmd:"&#8984;-&#8679;-Z",                action:"Redo the previous action"},
				{os:"mac",use:"general",    cmd:"&#8984;-F",                        action:"Find"},
				{os:"mac",use:"general",    cmd:"&#8984;-&#8677;",                  action:"Switch to the most recent used application"},
				{os:"mac",use:"general",    cmd:"&#8984;-H",                        action:"Hide the windows of the application currently used"},
				{os:"mac",use:"general",    cmd:"&#8984;-M",                        action:"Minimize the window currently used"},
				{os:"mac",use:"general",    cmd:"&#8984;-W",                        action:"Closes window currently used"},
				{os:"mac",use:"general",    cmd:"&#8984;-Q",                        action:"Quits the application currently used"},
				{os:"mac",use:"screenshot", cmd:"&#8984;-&#8679;-3",                action:"Takes a screenshot and saves it into a file on the desktop"},
				{os:"mac",use:"screenshot", cmd:"&#8984;-&#8679;-4",                action:"Takes a screenshot of a selected area and saves it into a file on the desktop"},
				{os:"mac",use:"screenshot", cmd:"&#8984;-Ctrl-&#8679;-3",           action:"Takes a screenshot and saves it in the clipboard (for magicians only)"},
				{os:"mac",use:"screenshot", cmd:"&#8984;-Ctrl-&#8679;-4",           action:"Takes a screenshot of a selected area and saves it in the clipboard (for magicians only)"},
				{os:"mac",use:"chrome",     cmd:"&#8984;-N",                        action:"Opens a new window"},
				{os:"mac",use:"chrome",     cmd:"&#8984;-T",                        action:"Opens a new Tab"},
				{os:"mac",use:"chrome",     cmd:"&#8984;-W",                        action:"Closes the active Tab"},
				{os:"mac",use:"chrome",     cmd:"&#8984;-&#8679;-T",                action:"Opens the last closed Tab"},
				{os:"mac",use:"chrome",     cmd:"&#8984;-R",                        action:"Reloads the page"},
				{os:"mac",use:"chrome",     cmd:"&#8984;-&#8679;-N",                action:"Opens a new 'Incognito' window"},
				{os:"mac",use:"spectacle",  cmd:"&#8984; &#8997; F",                action:"Sets the window in Fullscreen"},
				{os:"mac",use:"spectacle",  cmd:"&#8984; &#8997; &#8592",           action:"Sets the window in the left half of the screen"},
				{os:"mac",use:"spectacle",  cmd:"&#8984; &#8997; &#8594",           action:"Sets the window in the right half of the screen"},
				{os:"mac",use:"spectacle",  cmd:"&#8984; &#8997; &#8593",           action:"Sets the window in the top half of the screen"},
				{os:"mac",use:"spectacle",  cmd:"&#8984; &#8997; &#8595",           action:"Sets the window in the bottom half of the screen"},
				{os:"win",use:"general",    cmd:"Ctrl-C, Ctrl-X, Ctrl-V",           action:"Copy/Cut/Paste the selected element"},
				{os:"win",use:"general",    cmd:"Ctrl-A",                           action:"Select all the elements in the window"},
				{os:"win",use:"general",    cmd:"Ctrl-S",                           action:"Saves the active document"},
				{os:"win",use:"general",    cmd:"Ctrl-Z",                           action:"Undo the previous command"},
				{os:"win",use:"general",    cmd:"Ctrl-Y",                           action:"Redo the previous command"},
				{os:"win",use:"general",    cmd:"Ctrl-F",                           action:"Find"},
				{os:"win",use:"general",    cmd:"Ctrl-W",                           action:"Closes the window currently used"},
				{os:"win",use:"general",    cmd:"Alt-F4",                           action:"Quits the application currently used"},
				{os:"win",use:"general",    cmd:"Alt-&#8677;",                      action:"Switch to the most recent used application"},
				{os:"win",use:"general",    cmd:"Windows key + D",                  action:"Shows the desktop"},
				{os:"win",use:"general",    cmd:"Windows key + E",                  action:"Opens Windows Explorer"},
				{os:"win",use:"chrome",     cmd:"Ctrl-N",                           action:"Opens a new window"},
				{os:"win",use:"chrome",     cmd:"Ctrl-T",                           action:"Opens a new Tab"},
				{os:"win",use:"chrome",     cmd:"Ctrl-W",                           action:"Closes the active Tab"},
				{os:"win",use:"chrome",     cmd:"Ctrl-&#8679;-T",                   action:"Opens the last closed Tab"},
				{os:"win",use:"chrome",     cmd:"Ctrl-R",                           action:"Reloads the page"},
				{os:"win",use:"chrome",     cmd:"Ctrl-&#8679;-N",                   action:"Opens a new 'Incognito' window"}
			]
		});
		app.filter('unsafe', function($sce) {
			return function(val) {
				return $sce.trustAsHtml(val);
			};
		});
	</script>

</body>

</html>
