<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title" translate>{{title}}:</h3>
	</div>
	<table class="table table-bordered table-condensed table-hover">
		<!--thead>
			<tr class="active">
				<td translate width="20%">{{'SHORTCUTS_CMD'}}</td>
				<td translate width="80%">{{'SHORTCUTS_ACTION'}}</td>
			</tr>
		</thead-->
		<tbody>
			<tr ng-repeat="x in shortcuts | filter:{os:os} | filter:{use:use}">
				<td ng-bind-html="x.cmd | unsafe " width="20%"></td>
				<td translate="{{x.action}}" width="80%"></td>
			</tr>
		</tbody>
	</table>
</div>